@import url('https://fonts.google.com/?query=ubu&selection.family=Ubuntu');

body {
	font-family: "Ubuntu";
}

.dashboard_logo {
	height: 40px;
}

.sidebar .nav-item .nav-link span {
	color: #6c757d;
	font-size: 15px;
	font-family: "Ubuntu";
}

.fa-fw {
	color: #6c757d;
}

.fa_fw {
	color: #fff;
}

.overview_icon {
	height: 40px;
	margin-left: 70px;
	margin-bottom: 20px;
}

.display-4_p {
	text-align: center;
	font-size: 20px;
	color: #007bff;
}

.jumbotron_background {
	background-color: #fff !important;
}

.overview_select {
	width: 100%;
}

.free_space {
	padding: 40px 0px 40px 0px;
}

.overvview_warning_button {
	height: 15px;
	padding-left: 10px;
}

.overvview_add_button {
	height: 40px;
	margin-left: 30px;
	margin-top: 60px;
}

.overview_summary {
	color: #007bff;
	margin-bottom: 0px;
	font-size: 40px;
}

.invoice_content_to_right {
	text-align: right;
}

.invoice_summary_th {
	color: #6c757d;
	letter-spacing: 1px;
}

.invoice_summary_details {
	width: 100%;
	border: 1px solid #dee2e6;
	color: #6c757d;
	padding: 14px;
}

.buy_details_summary_details {
	width: 60%;
	margin: auto;
	border: 1px solid #dee2e6;
	color: #6c757d;
	padding: 20px;
}

.invoice_summary_details_h5 {
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: 600;
	letter-spacing: 1px;
}

.invoice_summary_details_p {
	font-size: 12px;
	letter-spacing: 1px;
}

.invoice_summary_li {
	display: inline-block;
}

.invoice_summary_li_sec {
	padding-left: 20px;
}

.invoice_summary_ul {
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
}

.overview_toggle_button {
	border: 1px solid #6c757d;
	padding: 5px 10px;
	width: 100%;
	font-size: 15px;
	text-align: center;
	color: #6c757d !important;
}

.btn_group {
	width: 100% !important;
}

.jumbotron_background_width_margin {
	width: 60%;
	margin: auto;
}

.jumbotron_background_width_margin_image_parent {
	width: 20%;
	margin: auto;
}

.jumbotron_background_width_margin_image {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	margin-left: 5%;
}

.jumbotron_background_width_margin_p {
	text-align: center;
	color: #6c757d;
	font-size: 15px;
	margin-bottom: 0px;
}

.table_border_left {
	border-left: 2px solid #6c757d;
	padding-left: 30px;
}

.table_border_td {
	text-align: right;
	padding: 10px;
	color: #6c757d;
}

.table_border_left td {
	padding: 10px;
	color: #6c757d;
}

.tooltip_hover {
	position: relative;
	display: inline-block;
	background: #06864D;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	padding-left: 6px;
}

.tooltip_hover .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #2078BF !important;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 12px;
}

.tooltip_hover .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #2078BF transparent;
}

.tooltip_hover:hover .tooltiptext {
  visibility: visible;
}

.jumbotron_background_payment_table_th {
	text-align: center;
}

.livestock_label {
	font-size: 20px;
	color: #6c757d;
}

.livestock_form_control {
	padding: 25px;
}

.edit_profile_reset_password_button {
    width: 100%;
    background: #007bff;
    display: block;
    text-align: center;
    padding: 8px 8px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.edit_profile_reset_password_button:hover {
	color: #fff;
	text-decoration: none;
}

.edit_profile_buy_button {
    width: 25%;
    background: #007bff;
    display: inline-block;
    text-align: center;
    padding: 8px 8px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.edit_profile_label {
	margin-bottom: 0px;
	color: #6c757d;
	font-weight: 600;
}

.edit_profile_form_control {
	font-size: 13px;
	letter-spacing: 1px;
	padding: 30px 20px;
}

.edit_profile_form_control_select {
	font-size: 13px;
	letter-spacing: 1px;
}

.edit_profile_textarea {
	width: 100%;
	max-width: 100%;
	height: 150px !important;
	max-height: 150px;
	font-size: 13px;
}

.buy_tour_p {
	text-align: justify;
	font-size: 12px;
	line-height: 20px;
	color: #6c757d;
}

.buy_tour_h3 {
	font-size: 15px;
	color: #6c757d;
}

.payment_summary_jumbotron {
	background-color: #fff;
}

.invoice_summary_jumbotron_background {
	background-image: url('../../images/invoice.png');
	height: auto;
}

.invoice_summary_details_h2 {
	padding: 20px 14px;
    color: #6c757d;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #dee2e6;
    margin-bottom: 0px;
}

.upload_summary_details {
	margin-top: 1rem;
}

#drop-area {
	border: 2px dashed #dee2e6;
	border-radius: 20px;
	width: 100%;
	font-family: sans-serif;
	padding: 20px;
}

#drop-area.highlight {
	border-color: purple;
}

.my-form {
	margin-bottom: 10px;
}

#gallery {
	margin-top: 10px;
}

#gallery img {
	width: 150px;
	margin-bottom: 10px;
	margin-right: 10px;
	vertical-align: middle;
}

.button {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
}

#fileElem {
	display: none;
}

.casual_p_size {
	font-size: 12px;
	color: #6c757d;
}

.invoice_button_parent {
	width: 100%;
	text-align: center;
}

.invoice_summary_details_textarea {
	width: 100%;
	max-width: 100%;
	border: 1px solid #dee2e6;
	padding: 20px;
	height: 200px;
	max-height: 200px;
	font-size: 12px;
}

.btn.btn-success {
	background-color: #06864D !important;
}

.invoice_summary_details_label {
	font-size: 13px;
}

.invoice_summary_details_input {
	font-size: 13px;
}

.invoice_summary_details_add_button {
	width: 15%;
	height: 50%;
	border-radius: 100%;
	margin: auto;
	background-color: #06864D;
	position: relative;
}

.invoice_summary_details_plus_img {
	padding: 8px 11px;
	margin-top: 25px;
}

.invoice_summary_checkout {
	padding: 30px 0px;
}

.invoice_summary_checkout_label {
	color: #6c757d;
	font-size: 15px;
}

.invoice_summary_checkout_input {
	margin-right: 5px;
}

.modal_breadcrumb {
	background-color: #fff;
}

.jumbotron_half_background {
	width: 60%;
	margin: auto;
	margin-bottom: 30px;
}

.buy_details_jumbotron_background_width_margin_image {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	margin-left: 10%;
}

.invoice_summary_jumbotron_background_casual_background {
	margin-top: 50px;
}

.display_4 {
	font-size: 20px;
	margin-top: 20px;
	color: #6c757d;
}

.buy_details_ul {
	width: 100%;
	padding-left: 0px;
	list-style: none;
}

.buy_details_li {
	display: inline-block;
	width: auto;
	padding-right: 10px;
	font-size: 12px;
}

.casual_margin_left {
	margin-left: 15px;
}

.casual_margin_top {
	margin-top: 20px;
}

.buy_details_padding {
	padding: 20px 0px;
}

.buy_details_border {
	border-left: 1px solid #dee2e6;
	height: 160px;
}

.buy_details_padding_h5 {
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	text-decoration: underline;
}

.buy_details_padding_p {
	font-size: 12px;
	text-align: center;
	letter-spacing: 1px;
}

.buy_details_padding_p_color {
	color: #06864D;
}

.full_width {
	width: 100%;
}

.casual_text_center {
	text-align: center;
}

.background_for_circle {
	background-color: #06864D;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	padding-top: 7px;
	padding-left: 2px;
}

.selectpicker {
   width: 100%;
}

.casual_image_style {
	height: 320px;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.modal_title_for_tour {
	font-size: 20px !important;
}

.modal_title_for_delivery {
	font-size: 2.5rem;
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
	color: #007bff;
}

.modal_title_for_delivery_p {
	text-align: center;
	font-size: 20px;
	color: #007bff;
}