@import url('https://fonts.google.com/?query=ubu&selection.family=Ubuntu');

/*Primary color*/
.blue{
    color:#2078BF;
}
/*Secondary color*/
.green{
    color:#06864D;
}
.grey{
    color:#737373;
}

body {
    /* Body 2/Black/Center */

    font-family: Ubuntu;
    font-weight: 300;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #333333;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    font-style: normal;
    font-family: Ubuntu;
    text-align: center;
    color: #333333;
}


footer{
    /* footer */

    position: absolute;
    width:100%;
    left: 0;
    right: 0;
    background: #2078BF;
    border-radius: 5px;
}

footer p{
    color:#fff;
}

footer a{
    color:#fff;
    text-decoration: none;
}

footer a:hover{
    color:#fff;
    text-decoration: underline;
}

footer h6{
    text-transform: uppercase;
    color: #fff;
    text-align: left;
}

.copyright{
    color:#fff;
    font-size:11px;
    text-transform: uppercase;
    padding-top:15px;
}

.copyright span a{

    font-size: 20px;
}

.footer-text {
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 2;
}

.footer-sub {

    color:#fff;
    list-style-type: none;
    text-decoration: none;
}


.footer-post{
    margin-top: 105px;
    margin-bottom: 15px;
}

.footer-news{
    padding: 30px;
}


/* Modal*/
.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
    background: rgba(51, 51, 51,0.7);
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    height: 100%;
    border-radius: 10px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button.close {
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    text-align: right;
    padding-right: 15px;
    padding-top: 10px;
}

.modal-header h5{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    font-size: 25px;
    letter-spacing: 0.25px;
    color: #2078BF;
}


/*modal form*/

.delivery-field{
    padding: 0 5px 5px 5px;
}
.form-field{
    padding: 0 65px 5px 65px;
}
.forgot-password{
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0.4px;
    color: #333333;
    margin-top:15px;
}
.modal-header span{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #2078BF;
}

.modal-header{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 18px;
    letter-spacing: 0.4px;
    color: #838383;
}

.modal-body label{
    display: inline-block;
    margin-bottom: .5rem;
    margin-top: 15px;
 }
.signup{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #06864D;
}


 /* Navigation Bar */  

.topbar{
/* Rectangle */

    position: absolute;
    width: 100%;
    height: 110px;
    left: 0;
    top: 0;
    background: #2078BF;
    color:#fff;
}

.topbar ul li a{
    color:#fff;
}

.topbar-sub{
    color:#838383 !important;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.1px;
}

.topbar-sub:hover{
    color:#fff!important;
   background-color:#2078BF;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
}

.nav-link {

    margin-left: 25px;
    margin-top:5px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.15px;
    padding-top:15px;
}

.navbar-toggler {
    color: #fff;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid  transparent;
  
}

.btn-white {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  font-weight: bold;
  padding:6px;
  width:40% ;

}

.btn-white:hover {
  color: #2078BF;
  background-color: #fff;
  border-color: #fff;
}


.btn-green {
  color: #fff;
  background-color: #06864D;
  border-color: #06864D;
  font-weight: bold;
  padding:6px;
  top:55px;
  width:40%;

}

.btn-green:hover {
  color: #2078BF;
  background-color: #fff;
  border-color: #fff;
}



.btn-green02 {
    font-family: Ubuntu;
    color: #fff;
    background-color: #06864D;
    border-color: #06864D;
    font-weight: bold;
    padding:12px;
}

.btn-green02:hover {
    color: #2078BF;
    background-color: #fff;
    border: solid 1px #06864D;
}


/*slider*/

.carousel-indicators li {
    height: 18px;
    border-radius: 50%;
    width: 20px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;

}

.carousel-item {
    top:95px;
    height: 150px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    left: 48px;
    right: auto;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.portfolio-item {
    margin-bottom: 30px;
}



.blog img{
    width:100%;
}

.blog-1{
    border: solid 2px #ccc;
    text-align: center
}

.blog-1:hover{
    border: solid 1px #2078BF;

}

.blog-2{
    border: solid 2px #ccc;
    text-align: center
}

.blog-2:hover{
    border: solid 1px #06864D;

}

.blog-3{
    border: solid 1px #ccc;

}
.post{
    padding: 15px;
}

/* space*/
.space{
    width: 100%;
    padding: 35px;
    /*background-color: #333;*/
}

/*Sell section*/
/* Base */
.sell-content{
    position: relative;
    left: 0;
    right: 45px;
    height: 620px;
    background: #2078BF;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 15px;
}

.sell-1{
    /* Hotels How to Get Fr */
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 28px;
    letter-spacing: -1px;
    margin-left: 25px;
    margin-top:30px;
    color: #FFFFFF;
}
.sell-2{
    /* Hotels How to Get Fr */
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: -1px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 24px;
    color: #FFFFFF;
}

.sell-3 {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: 1000;

    left:0;
}


/*GROW*/
.grow img {
    height: 440px;
    width: 400px;
    margin-top:45px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    right: 40px;
    position: relative;
    z-index: 1000;
    border-radius: 10px;
}

.grow img:hover {
    width: 420px;
    height: 460px;
    margin-top:35px;
}

/*DARKEN*/
.brighten img {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.brighten img:hover {
    -webkit-filter: brightness(100%);
}

/*TILT*/
.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #838383;
}

.tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

/*  Easy track banner */
.blue-banner{
    /* Rectangle 6 */
    width:100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2078BF;
    height: 100%;
}

.video iframe{
    position:relative;
    width:100%;
    height: 340px;
    left:0;
    top:0;
}


/* overlay styles, all needed */
.overlay {
    position: absolute;
    background-color: rgba(32, 120, 191, 0.65);
    z-index: 10000;
    width:100%;
    height: 340px;
}

.easy-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 55px;
    font-size: 28px;
    letter-spacing: -1.6px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    color: #FFFFFF;
}

.track-text{
    /* Track your livestock */
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 35px;
    font-size: 38px;
    letter-spacing: -1px;
    color: #FFFFFF;
    margin-top: 35px;
    margin-left: 25px;
}

.track-page {
    margin-left: 28px;
    margin-top: 20px;
}

.track-field{
    height: 60px;
}

.btn-search {
    color: #fff;
    background-color: #06864D;
    border-color: #06864D;
    width: 85px;
    font-weight: bold;
    font-size: 31px;
}

.btn-search:hover {
    color: #2078BF;
    background-color: #fff;
    border-color: #fff;
}

.btn-news {
    color: #fff;
    background-color: #06864D;
    border-color: #06864D;
    width: 225px;
    font-weight: bold;
    font-size: 15px;
    padding:18px;

}

.btn-news:hover {
    color: #2078BF;
    background-color: #fff;
    border-color: #fff;
}


.discover{
    /* About Us Section - Discover Us */
    position: absolute;
    background: #2078BF;
    border-radius: 5px;
    width: 90%;
    height: 400px;
    left:0;
}


.discover-us{
    /* About Us Section - Discover Us */

    position: absolute;
    margin-top:545px;
    margin-left:25px;
    margin-right: 25px;
}

.vet-1 {
    /* About Us Section - Discover Us */

    position: absolute;
    margin-top: 45px;
    width: 90%;
    height: 650px;
    margin-right: 25px;
}

.vet-1 img {
    /* About Us Section - Discover Us */
    width: 100%;
    height: 450px;
    z-index: 10000;
    border-radius: 7px;
}
.vet-heading{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 40px;
    letter-spacing: -1px;
    color: #2078BF;
    text-align: left;
}

.vet-text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: -1px;
    color: #838383;
    text-align: left;
}
.be-partner{
    margin-top:1255px;
}

.be-partner img {
    border-radius: 5px;
    width: 100%;
    height:315px;
}
.partner-sub{
    font-size: 16px;
    font-weight: bold;
    color:#2078BF;
}


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(32, 120, 191);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

}
#return-to-top i {
    color:#fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background-color: rgb(32, 120, 191);
}
#return-to-top:hover i {
    color:#fff;
    top: 5px;
}

.login-modal{
    font-weight: bold;
    line-height: 40px;
    font-size: 25px;
    letter-spacing: 0.25px;
    color: #2078BF;
}

.login-modal-sub{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #2078BF;
}

.buy-modal {
    max-width: 522px;
    left: 50px;
    right: 50px;
}

.cattle-modal{
    max-width: 1200px;
    margin: 1.75rem auto;
    z-index: 10000;
}

.cattle-modal h5{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    line-height: 45px;
    font-size: 35px;
    letter-spacing: 0.1px;
    color: #2078BF;
    margin-top:20px;
}

.agent-text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
    color: #838383;
    padding-left: 25px;
    padding-right: 25px;
}

.agent-text h5{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 78px;
    font-size: 45px;
    letter-spacing: -1.6px;
    color: #2078BF
}

.agent-text img{
    width: 93px;
    height: 99px;
    margin-top:35px;
}

.agent-modal {
    max-width: 900px;
    margin: 1.75rem auto;
    z-index: 10000;
}

.modal-footer {

    padding-top: 25px;
    border-top: none;
    padding-bottom: 45px;

}


/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 280px) {
 .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }

    .navbar-nav {
    background-color:#2078BF;
    margin-top: 15px;
    padding-bottom: 25px;
    line-height: 2;
}
.btn{
    margin-top:5px;
}

.navbar-brand {
    margin-left:0;
}

}

@media only screen and (min-width: 300px) {


    .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }

    .navbar-nav {
    background-color:#2078BF;
    margin-top: 15px;
    padding-bottom: 25px;
    line-height: 2;
}
.btn{
    margin-top:5px;
}

.navbar-brand {
    margin-left:0;
}
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
    .carousel-inner {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;

    }

    .carousel-item {
        top:75px;
        height: 230px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }

    .navbar-nav {
     background-color:#2078BF;
    margin-top: 15px;
    padding-bottom: 25px;
    line-height: 2;
}

}

@media (min-width: 576px) {
  .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }

    .navbar-nav {
    background-color:#2078BF;
    margin-top: 15px;
    padding-bottom: 25px;
    line-height: 2;
}
}

@media (min-width: 768px) {
    .carousel-inner {
        position: relative;
        width: 100%;
        height: 450px;
        overflow: hidden;

    }

    .carousel-item {
        top:45px;
        height: 450px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }

    .navbar-nav {
     background-color:#2078BF;
    margin-top: 15px;
    padding-bottom: 25px;
    line-height: 2;
}
    .discover-us{
        /* About Us Section - Discover Us */
        position: absolute;
        margin-top:0;
    }


}

@media (min-width: 992px) {
  .dropdown-menu-lg-right {
    right: 0;
    left: auto;
  }

    .navbar-nav {
    background-color:#2078BF;
    margin-top: 15px;
    padding-bottom: 25px;
    line-height: 2;
}
    .discover-us{
        /* About Us Section - Discover Us */
        position: absolute;
        margin-top:0;
    }

}

@media (min-width: 1200px) {
    .sell-content{
        position: relative;
        left: 51px;
        height: 530px;
        background: #2078BF;
        border-radius: 10px;
        margin-bottom: 30px;
        padding: 15px;
    }

    .sell-1{
        /* Hotels How to Get Fr */
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        line-height: 45px;
        font-size: 38px;
        letter-spacing: -1px;
        margin-left: 25px;
        margin-top:30px;
        color: #FFFFFF;
    }

    .easy-text{
        /* Hotels How to Get Fr */
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        line-height: 55px;
        font-size: 38px;
        letter-spacing: -1.6px;
        margin-top:45px;
        margin-left: 25px;
        margin-right: 25px;
        color: #FFFFFF;
    }

    .sell-3{
        /* second column on sell section */
        position: absolute;
        border-radius: 10px;
        width: 550px;
        height: 460px;
        right: 75px;
        margin-top:35px;

    }
    .discover{
        /* About Us Section - Discover Us */
        position: absolute;
        background: #2078BF;
        border-radius: 5px;
        width: 300px;
        height: 400px;
        margin-left:135px;
    }

    .discover-us{
        /* About Us Section - Discover Us */
        position: absolute;
        margin-top:0;
        left:-20px;
    }

    .vet-1 {
        /* About Us Section - Discover Us */

        position: absolute;
        margin-left: 30px;
        margin-top: 45px;
        width: 310px;
        height: 650px;
    }

    .track-text{
        /* Track your livestock */
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        line-height: 35px;
        font-size: 38px;
        letter-spacing: -1px;
        color: #FFFFFF;
        margin-top: 105px;
        margin-left: 95px;
    }
    .track-page{
        margin-left: 100px;
        margin-top:20px;
    }

    /*GROW*/
    .grow img {
        height: 440px;
        width: 600px;
        margin-top:45px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        right: 40px;
        position: relative;
        z-index: 1000;
        border-radius: 10px;
    }

    .grow img:hover {
        width: 620px;
        height: 460px;
        margin-top:35px;
    }

    .be-partner{
        margin-top:455px;
    }

    .be-partner img {
        border-radius: 5px;
        width: 100%;
        height:541px;
    }


    .carousel-inner {
        position: relative;
        width: 100%;
        height:850px;
        overflow: hidden;

    }

    .carousel-item {
        height: 100%;
        min-height: 300px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        top:0;
    }

    .carousel-caption {
        position: absolute;
        bottom: 20px;
        left: 48px;
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .btn-white {
        color: #fff;
        background-color: transparent;
        border-color: #fff;
        width: 145px;
        font-weight: bold;
        padding:12px;

    }

    .btn-white:hover {
        color: #2078BF;
        background-color: #fff;
        border-color: #fff;
    }


    .btn-green {
        color: #fff;
        background-color: #06864D;
        border-color: #06864D;
        width: 145px;
        font-weight: bold;
        padding:12px;
    }

    .btn-green:hover {
        color: #2078BF;
        background-color: #fff;
        border-color: #fff;
    }


    .btn-green02 {
        font-family: Ubuntu;
        color: #fff;
        background-color: #06864D;
        border-color: #06864D;
        width: 170px;
        font-weight: bold;
        padding:12px;
    }

    .btn-green02:hover {
        color: #2078BF;
        background-color: #fff;
        border: solid 1px #06864D;
    }

    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 15%;
        color: #fff;
        text-align: center;
        opacity: .5;
        transition: opacity .15s ease;
    }
    footer h6{
        color:#fff;
        text-transform: uppercase;
        text-align: center;
    }

    .footer-sub {

        color:#fff;
        list-style-type: none;
        text-decoration: none;
        padding-left: 125px;
        padding-top: 70px;
    }

    .copyright{
        color:#fff;
        font-size:11px;
        text-transform: uppercase;
    }

    .copyright span a{
        padding-left:15px;
        font-size: 20px;
        float: right;
    }
    .buy-sub{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 24px;
        letter-spacing: 0.1px;
        color: #2078BF;
        margin-top:15px;
    }


    .buy-row{
        padding-left: 45px;
        padding-right:45px;
    }

    .buy-modal {
        max-width: 1522px;
        left: 220px;
        right: 220px;
        z-index: 10000;
    }

    .buy-modal h5{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        line-height: 24px;
        font-size: 35px;
        letter-spacing: 0.1px;
        color: #2078BF;
        margin-top:20px;
    }
    .delivery-field{
        padding: 0 205px 5px 205px;
    }

    .dropdown-menu-xl-right {
    right: 0;
    left: auto;
  }
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}
